@model Subs.Models.Subscription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RenewalDayOfMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RenewalDayOfMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAutomaticRenewal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAutomaticRenewal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlatAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlatAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
