@model IEnumerable<Subs.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-9">
            <h4>Categories -> @ViewBag.category.Name</h4>
        </div>
        <div class="col-3">
            <a asp-action="Create" asp-route-category="@ViewBag.category.Id" class="btn btn-primary">Create New</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCategory)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceCategory.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="ServiceTiers" asp-action="Index" asp-route-service="@item.Id">Tiers</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="ServiceCategories" asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">@(ViewBag.modal != null ? ViewBag.modal : "")</h4>
            </div>
            <div class="modal-body">
                @ViewBag.msg
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@{
    if (ViewBag.modal != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
