@model Subs.Models.ServiceCategory

@{
    ViewData["Title"] = "Details";
}

<h4>Categories -> Details</h4>

<div>
    <h4>ServiceCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPrepaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPrepaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
